extends ../layout

block content
  main.page-content
    section.comments
      .comments__wrapper
        h1.visually-hidden Страница комментариев
        each offer in offers
          .comments__block
            .comments__header
              a.announce-card(href=`/offers/${offer.id}`)
                h2.announce-card__title #{offer.title}
                span.announce-card__info
                  span.announce-card__price ₽ #{offer.sum}
                  +ticketLabel(offer.type)(class=`announce-card__type`)
            ul.comments-list
            each comment in offer.comments
              li.js-card
                .comment-card
                  .comment-card__header
                    a.comment-card__avatar.avatar(href="")
                      img(src=`/img/${comment["user.avatar"]}` alt="Аватар пользователя")
                    p.comment-card__author #{comment["user.firstname"]} #{comment["user.lastname"]}
                  .comment-card__content
                    p
                      | #{comment.text}
                  a.comment-card__delete.js-delete(type="button" href=`/my/comments?offerId=${offer.id}&commentId=${comment.id}`) Удалить
